$primary-gold-100: #b28306;
$primary-gold-200: #d39b04;
$primary-gold-300: #ecac00;
$primary-gold-base: #ffcc4d;
$primary-gold-400: #ffd877;
$primary-gold-500: #ffe6a8;
$primary-gold-600: #fff1ce;
$primary-gold-700: #fff6e0;
