.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;

  h3 {
    font-size: clamp(24px, 4vw, 48px);
    color: #001d5b;
    font-weight: 600;
  }

  .view-all {
    padding-top: 12px;
    font-size: clamp(16px, 2vw, 20px);
    color: #ffcc4d;
  }
}
